body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto; 
}

#productos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  #productos tr:nth-child(even){background-color: #f2f2f2;}
  
  #productos th {
    padding: 10px;
    text-align: left;
    background-color: #774888;
    color: white;
  }

h1 {
    text-align: center;
    word-spacing: -5px;
    font-size: 40px;
    text-shadow: 1px 1px 1px #8e18a0;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-top: 80px;
    border-collapse: separate; 
    margin-top: 80px;
    border-radius: 10px;
    overflow: hidden; 

}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

button {
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonAdd {
    position: absolute;
    left: 1140px;
    top: 20px;
    background-color: #5b0672;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonEdit {
    background-color: #71108b;
}

.buttonDelete {
    background-color: #912f2f;
}

.buttonDetail {
    background-color: #5b0672
}