<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">Catálogo de productos</h1>
        <button class="btn buttonAdd" (click)="openProductoCreate()">Agregar producto</button>
    </div>

    <div *ngIf="isLoading()">
        <p>Cargando datos...</p>
    </div>
        <table id="productos" *ngIf="!isLoading() && productos().length > 0" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos()">
                    <td>{{ producto.productoId }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ 'COP ' + producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>
                        <button class="btn buttonEdit" (click)="openProductoEdit(producto.productoId)">Editar</button>
                        <button class="btn buttonDelete"
                            (click)="eliminarProducto(producto.productoId)">Eliminar</button>
                        <button class="btn buttonDetail" (click)="openProductoDetail(producto.productoId)">Ver
                            detalle</button>
                    </td>
                </tr>
            </tbody>
        </table>
    <div *ngIf="!isLoading() && productos().length === 0">
        <p>No hay productos disponibles.</p>
    </div>
</div>