<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATALOGO DE PRODUCTOS - Home</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="home-container">
        <h1>BIENVENIDO</h1>
        <p>Este es tu catálogo virtual pruebaaa, da click al botón para ver los productos disponibles</p>
        <div class="button">
            <button (click)="productos()">Productos</button>
        </div>
    </div>
</body>
</html>