<body>
    <article>
        <nav>
            <ul>
                <a href="" id="left">Home</a>
            </ul>
        </nav>
        <div class="title-container">
            <h1 class="fade-in">Bienvenido</h1>
            <h1 class="fade-in">a tu catálogo de productos</h1>
        </div>
        <div id="content" class="fade-in-2">
            <ul type="none">
                <li><a href="list-productos">Ver Productos</a></li>
            </ul>
        </div>
        <div class="footer">
            <p>Valsua Industries © </p>
        </div>
    </article>
</body>